[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = ">=2.4"
molecule = ">=2.6"
testinfra = ">=1.10"
python-vagrant = ">=0.5.15"

[requires]
python_version = "2.7"
